@font-face {
	font-family: "twayair";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

/* 초기화 */
a {
	text-decoration: none !important;
}

/* className */
.title {
	color: white !important;
	font-family: "twayair" !important;
}

.container {
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	padding: 10px 0;
	width: 100%;
	justify-items: center;
}

.container .items {
	width: 100%;
}

.formGroup {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
}
